
/*--shuffling开始--*/
.shuffling-box{
    position: relative;
    overflow:  hidden;
}
.shuffling{
    position:  relative;
    font-size: 0;
    white-space: nowrap;
}
.shuffling-div{
    width: 100%;
    height: 400px;
}
.shuffling-div.on{
    display: inline-block;
}

.dot-box{
    position: absolute;
    left: 50%;
    bottom: 15px;
    font-size:  0;
    margin-left:  -30px;
}
.dot{
    display:  inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right:  10px;
}
.dot:hover,
.dot.on{
    background-color: orange ;
    box-shadow: 0 0 5px 2px orange;
}

/*--announcement开始--*/
.announcement{
    position: relative;
    font-size:  14px;
    /* line-height:  60px; */
}
.div-img>img{
    vertical-align: -3px;
    margin-right: 2px;
}
.div-img{
   display: inline-block;
   font-weight: 800;
   vertical-align:  middle;
   margin-top: 20px;
}
.outer{
    display:inline-block;
    width: 980px;
    overflow: hidden;
    vertical-align: -4px;
    margin-left: 30px;
}
.outer ul{
    display:inline-block;
    -webkit-transform: translate3d(0, 0, 0); /* 3d渲染，开启硬件加速 */
    transform: translate3d(0, 0, 0);
    font-size: 0;   /* 使inline-block无默认间距 */
    white-space: nowrap;  /* 超出不折行 */
    font-size:  14px;
}
.outer ul li{
    display: inline-block;
    padding-right: 50px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.theanimation{
    animation:theanimation 40s infinite linear;
    -webkit-animation:theanimation 40s infinite linear;
}
@keyframes theanimation{
    from {
        transform:translateX(0%);
    }
    to {
        transform:translateX(-100%);
    }
}
@-webkit-keyframes theanimation{
    from {
        -webkit-transform:translateX(0%);
    }
    to {
        -webkit-transform:translateX(-100%);
    }
}
.more{
    position:absolute;
    right: 0;
    display:  inline-block;
    font-size:  14px;
    margin-top: 20px;
}
.more-arrow{
    vertical-align: 2px;
    font-size: 12px;
}

.announcement-product{
    text-align: center;
    margin: 40px auto 0;
}
.announcement-product-list{
    display: inline-block;
    margin-right: 180px;
}
.announcement-product-list:last-child{
    margin-right: 0;
}
.announcement-product-list>img{
    transition: all .5s;
    transform: rotateZ(0deg);
    width: 65px;
    cursor:  pointer;
}
.announcement-product-list>img:hover{
   transform: rotateZ(360deg);
}
.announcement-product-list>p{
   font-size: 18px;
   line-height: 30px;
}

/*--recommend开始--*/
.recommend{
    position: relative;
    display:  inline-block;
}
.recommend-box.more1>.more{top: 10px;}
.recommend-box{
    position: relative;
    margin-top:  60px;
}
.recommend:before{
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    content: "";
    width: 38px;
    height: 36px;
    background-repeat:no-repeat;
    background-image: url("../image/tuijian.png");
}
.recommend.frist:before{
    background-image: url("../image/shoutou.png");
}
.recommend>p{
    text-indent: 50px;
}
.recommend>p.recommend-p{
    color: #E71600;
    font-size: 24px;
    letter-spacing: 3px;
    display:  inline-block;
}
.recommend>p.recommend-p2{
    white-space: pre;
    letter-spacing: 2px;
    color: gray;
}

.recommend-product{
    font-size: 0;
}
.recommend-product-list-top>p{
    text-align: center;
}
.recommend-product-list-a{
    display: inline-block;
    width: 100px;
    height: 40px;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
    margin: 37px 90px 10px 90px;
    background-color:  white;
}
.recommend-product-a:first-child .recommend-product-list-a{
    background-image: url("../image/tuijian1.png");
}
.recommend-product-a:nth-of-type(2) .recommend-product-list-a{
    background-image: url("../image/tuijian2.png");
}
.recommend-product-a:nth-of-type(3) .recommend-product-list-a{
    background-image: url("../image/tuijian3.png");
}
.recommend-product-a:nth-of-type(4) .recommend-product-list-a{
    background-image: url("../image/tuijian4.png");
}
.recommend-product-a:first-child+a .recommend-product-list-a{
    background-image: url("../image/tuijian2.png");
}
.recommend-product-a:first-child+a+a .recommend-product-list-a{
    background-image: url("../image/tuijian3.png");
}
.recommend-product-a:first-child+a+a+a .recommend-product-list-a{
    background-image: url("../image/tuijian4.png");
}
.recommend-product-list{
    position: relative;
    display:  inline-block;
    text-align:  center;
    overflow:  hidden;
}
.recommend-product-a{
    display: inline-block;
    margin-right: 24px;
    border: 1px solid #FAD6CB;
    background-color: #F5F5F5;
    border-radius: 3px;
}
.recommend-product-a:hover{
    box-shadow: 0 0 17px 3px #F3816C;
}
.recommend-product-a:last-child{
    margin-right:  0;
}
.recommend-product-a.last{
    margin-right:  0;
}
.recommend-product-a.mag20{
    margin: 20px 24px 20px 0;
}
.recommend-product-list:before{
    position: absolute;
    top: 5px;
    left: -32px;
    left:0px\9;
    content: "推荐";
    color: white;
    background-color: rgb(241, 2, 21);
    font-size: 16px;
    font-weight: 800;
    width: 100px;
    width: auto\9;
    padding: 2px;
    transform: rotate(-45deg);
}
.recommend-product-list-top{
    display: inline-block;
}
.recommend-product-p{
    white-space: nowrap;
    color: #B7B7B7;
    border-bottom: 1px solid #D9D9D9;
    font-size: 14px;
    line-height: 32px;
}
.recommend-product-list-table{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    table-layout: initial;
}
.recommend-product-list-table .b{
    color:  #333;
}
.recommend-product-list-table .color{
    color: #999;
    padding-bottom: 15px;
}
.recommend-product-list-table .color>td{
    padding-bottom: 18px;
}
.recommend-product-list-table .color>td.color-num{
   font-size: 20px;
   color: #FF3512;
   padding-right: 16px;
}
.recommend-product-list-table td{
    padding: 4px 24px;
}
.recommend-product-list>button{
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    padding: 0px 80px;
    margin-bottom: 10px;
    cursor:  pointer;
    background: linear-gradient(#ffd622, #fd8810);
    background: -ms-linear-gradient(top, rgba(255, 223, 26, 0.33),#fd8810);
    background: -ms-linear-gradient(top,#ffd622, #fd8810);
    background: linear-gradient(#ffd622, #fd8810);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #ffd622, endColorstr = #fd8810);
}


/*--firstShot开始--*/
.recommend-product-a.firstShot:first-child .recommend-product-list-a{
    background-image: url("../image/tuijian2.png");
}
.recommend-product-a.firstShot:nth-of-type(2) .recommend-product-list-a{
    background-image: url("../image/tuijian4.png");
}
.recommend-product-a.firstShot:nth-of-type(3) .recommend-product-list-a{
    background-image: url("../image/shoutou3.png");
    background-color: #152251;
}
.recommend-product-a.firstShot:nth-of-type(4) .recommend-product-list-a{
    background-image: url("../image/shoutou4.png");
}
.recommend-product-a.firstShot:first-child+a .recommend-product-list-a{
    background-image: url("../image/tuijian4.png");
}
.recommend-product-a.firstShot:first-child+a+a .recommend-product-list-a{
    background-image: url("../image/shoutou3.png");
    background-color: #152251;
}
.recommend-product-a.firstShot:first-child+a+a+a .recommend-product-list-a{
    background-image: url("../image/shoutou4.png");
}
.recommend-product-list.firstShot:before{
    position: absolute;
    top: 15px;
    left: -23px;
    left: 0px\9;
    content: "广告位";
}


/*--againShot开始--*/
.recommend.againShot:before{
    background-image: url("../image/futou.png");
}
.recommend-product-list.againShot:before{
    position: absolute;
    top: 15px;
    left: -23px;
    left: 0px\9;
    content: "稳定";
}
.recommend-product-a.againShot:first-child .recommend-product-list-a{
    background-image: url("../image/tuijian1.png");
}
.recommend-product-a.againShot:first-child+a .recommend-product-list-a{
    background-image: url("../image/tuijian3.png");
}
.recommend-product-a.againShot:first-child+a+a .recommend-product-list-a{
    background-image: url("../image/futou3.png");
}
.recommend-product-a.againShot:first-child+a+a+a .recommend-product-list-a{
    background-image: url("../image/futou4.png");
}

/*--integral开始--*/
.recommend.integral:before{
    background-image: url("../image/integral.png");
}
.integral-product-list{
    text-align:  center;
    display:  inline-block;
    padding: 4px 5px;
    border: 1px solid #EEE;
    margin-right: 90px;
    cursor:  pointer;
}
.integral-product-list:nth-of-type(4n+4){
    margin-right: 0;
}
.integral-product-list.last{
    margin-right: 0;
}
.integral-product-list:hover{
    box-shadow: 0 0 17px 3px #EEE;
    color:  #898989;
}
.integral-product-list-img{
    display: inline-block;
    width: 180px;
    height: 66px;
    background-size: contain;
    margin: 40px 20px;
    background-repeat:no-repeat;
    /* border: 1px solid  #E0E0E0; */
}
.integral-product-list.a .integral-product-list-img{
    background-image: url("../image/jifeng1.png");
}
.integral-product-list.b .integral-product-list-img{
    background-image: url("../image/jifeng2.png");
}
.integral-product-list.c .integral-product-list-img{
    background-image: url("../image/jifeng3.png");
}
.integral-product-list.d .integral-product-list-img{
    background-image: url("../image/jifeng4.png");
}
.integral-product-list-p{
    font-size: 18px;
    line-height: 40px;
    border-bottom: 1px dashed #D9D9D9;
}
.integral-product-list-num>span{
    font-size: 14px;
    line-height: 40px;
}
.integral-product-list-num>span:first-child{
    margin-right: 20px;
}
.integral-product-list-num>span:first-child,
.integral-product-list-num>span:first-child+span{
    color: #E44D30;
}
.integral-product{
   margin: 25px auto 20px;
   font-size:  0;
}


/*--teamwork开始--*/
.recommend.teamwork:before{
    background-image: url("../image/hezuo.png");
}
.integral-product.teamwork{
    font-size:  0;
}
.teamwork.integral-product-list{
    width: 200px;
    height: 90px;
}
.integral-product-list-a{
    display: inline-block;
    border: 1px solid  #E0E0E0;
    font-size:  0;
    margin: 0px 19px;
}
/*.integral-product-list-a:nth-of-type(5n+5){*/
    /*margin-right: 0;*/
/*}*/
.integral-product-list-a:hover{
    background-color:  white;
    box-shadow: 1px 1px 5px #E0E0E0;
}
.integral-product-list-a:last-child{
    /* margin-right: 19px; */
}
.teamwork-box{
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    position:  relative;
    display:  inline-block;
    width: 1200px;
}
.s.teamwork{
    display: inline-block;
    width: 200px;
    height: 60px;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center;
    margin-top:  15px;
    margin-bottom:  15px;
    background-color:  white;
}
.integral-product-list-a[value="1"]>.s.teamwork{
    background-image: url("../image/hezuo1.png");
    background-color: whitesmoke;
}
.integral-product-list-a[value="2"]>.s.teamwork{
    background-image: url("../image/hezuo2.png");
}
.integral-product-list-a[value="3"]>.s.teamwork{
    background-image: url("../image/hezuo3.png");
}
.integral-product-list-a[value="4"]>.s.teamwork{
    background-image: url("../image/hezuo4.png");
}
.integral-product-list-a[value="5"]>.s.teamwork{
    background-image: url("../image/hezuo1.png");
    background-color: whitesmoke;
}
.integral-product-list-a[value="6"]>.s.teamwork{
    background-image: url("../image/hezuo2.png");
}
.integral-product-list-a[value="7"]>.s.teamwork{
    background-image: url("../image/hezuo2.png");
}
.integral-product-list-a[value="8"]>.s.teamwork{
    background-image: url("../image/hezuo2.png");
}
.integral-product-list-a[value="9"]>.s.teamwork{
    background-image: url("../image/hezuo2.png");
}
.integral-product-list-a[value="10"]>.s.teamwork{
    background-image: url("../image/hezuo2.png");
}
.integral-product-list-a[value="11"]>.s.teamwork{
    background-image: url("../image/hezuo3.png");
}
.integral-product-list-a[value="12"]>.s.teamwork{
    background-image: url("../image/hezuo3.png");
}
.integral-product-list-a[value="13"]>.s.teamwork{
    background-image: url("../image/hezuo3.png");
}
.integral-product-list-a[value="14"]>.s.teamwork{
    background-image: url("../image/hezuo3.png");
}
.integral-product-list-a[value="15"]>.s.teamwork{
    background-image: url("../image/hezuo3.png");
}
.teamwork-z{
    position: relative;
    padding-top:  20px;
}
.teamwork.arrow-box{
    top: 50px;
    opacity: 0.5;
    position:  absolute;
    width: 1200px;
}
.teamwork.arrow-box>img:first-child+img{
   margin-left: 1180px;
   transform: rotatey(180deg);
}
.recommend-box.back1{
    background-color: #f2f2f2;
    padding-top: 10px;
}
.teamwork-z.back1{
    background-color: #f2f2f2;
    padding-bottom:  10px;
}
.teamwork.arrow-box>img{
    cursor: pointer;
    position: absolute;
    left: 0px;
    width: 20px;
    background-color: #00000026;
    height: 25px;
    border-radius:  5px;
}
.teamwork.arrow-box>img:hover {
    background-color: rgba(102, 102, 102, 0.8);
    border-radius: 5px;
}

/*--link开始--*/
.link-list,
.link-list1{
    margin-right: 5px;
    display:  inline-block;
    margin-top:  20px;
}
.link-list1{
    color: #f10215;
}


